/**
 * GENERAL
 * 
 *
 */

 *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin:0;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	line-height:1.43;
	background-color: rgba(221,221,221,0.2);
	color:#333;
}
nav
{
	display: block;
}
a{
	text-decoration: none;
}

.boton,.boton a {
	display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    color: #fff !important;
    background-color:  rgb(9, 87, 168);
    border-color: #2e6da4;
}

.boton-alerta {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
/**
 *
 *
 * CABECERA
 * 
 */

.titulo-cabecera img{
	max-width:  500px;
}
.cabecera{

}
.menu-cabecera > li{
	position: relative;
    display: block;
    float: left !important;
    min-width: 50px;
}
.menu-cabecera > li > a
{
	color: #000;
	padding: 12px 17px;
	border-radius: 5px;
}
.menu-cabecera>li>a:hover
{
	background-color: rgba(9, 87, 168, 0.5)
}
.menu-cabecera>li.active>a, .menu-cabecera>li.active>a:focus, .menu-cabecera>li.active>a:hover {
    color: #fff;
    background-color: rgb(9, 87, 168);
}

/**
 *
 *
 *
 * CONTENEDOR
 * 
 */
.contenedor{
	padding-right:10px;
	padding-left:10px;
	margin-right:auto;
	margin-left:auto;
	margin:auto;
}


/**
 *
 * NOTICIA
 *
 * 
 */
.titulo-secundario{
	font-size: 30px;
}
.sub-titulo{
	font-size: 20px;
}
.listado-noticias
{
	padding-left: 0;
    margin-bottom: 20px;
}
.elemento-listado-noticias
{
	position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
}
.elemento-listado-noticias a
{
	color:  rgb(9, 87, 168);
}


.contenedor-noticias
{
	float: right;
	display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color:  rgb(9, 87, 168);
    border-radius: 10px;
}

.caja-minuatura{
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.caja-minuatura img{
	width: 100%;
}

.extracto-noticia{
	padding:10px;
}

.extracto-noticia a{
	color:  rgb(9, 87, 168);
}
.leer-noticia{
	text-align: right;
}
.contenido{
	clear: both;
	float:left !important;
	min-height: 550px;
	width: 100%;
}
.listado-noticias-categoria img
{
    width: 100%;
    margin-bottom: 30px;
    text-align: justify;
}
.listado-noticias-categoria
{
    margin-bottom: 30px;
    text-align: justify;
}
.noticia-categoria {
	clear: both;
}

.noticia-categoria .sub-titulo a{
	font-weight: bold;
}

.caja-noticia
{
    margin-top: 20px;
    text-align: justify
}

/**
 *
 *
 * COMENTARIOS
 *
 * 
 */
.contenido-comentario img {
	width: 70px;
}
.nombre-comentario{
	font-size: 17px;
	font-weight: bold;
}
.texto-comentario p{
	margin-top: 0;
    margin-bottom: 5px;
}
.imagen-comentario, .texto-comentario {
    display: table-cell;
    vertical-align: top;

}
.btn-submit-comentario{
    margin-top: 10px;
    margin-bottom: 40px;
}


/**
 *
 *
 * ADMIN
 * 
 */
.caja-autor{
	padding: 10px;
}
.caja-autor .form-inputs {
    width: 100%;
}


/**
 *
 * AUTOR
 *
 * 
 */
.editar-noticia img,.crear-noticia img{
	padding: 10px;
}





/**
 *
 *
 *
 * LOGIN
 * 
 */
.contenedor-login {
	width: 100%;
}
.form-login {
    padding: 15px;
    margin: 0 auto;
}
.formateo-inputs
{
	position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.form-login .form-inputs {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.contenedor-login .form-inputs{
	width: 100%;
}
.boton-login{
	width: 49%;
}


/**
 *
 * FOOTER
 *
 * 
 */
.footer{
	background-color: #333;
    height: 150px;
    width: 100%;
    margin: auto;
    clear: both;
    color: #fff;
    padding: 10px;
}
.footer a{
	color: #ddd;
}




/*
*
*
*  ALERTAS
*
*
*/



[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}




